<div id="main-top" class="mb-5"></div>
<section class="p-5 container-fluid">
    <div class="doctor-forms row">
        <div class="doctor-form-img col-lg-6">
          <img
            src="https://res.cloudinary.com/hephzisoft/image/upload/v1659520248/projectHygieia/Customer_Survey-rafiki_1_yj3jjj.svg"
            alt="complaint"
            class="img-fluid"
          />
        </div>
      
        <div class="doctor-form col-lg-6">
          <h4>Tell us exactly what is wrong. Our best physcians will give you a <span class="text-green">prompt response</span>.</h4>
          <form
            action="https://formspree.io/f/mzbwpgyy"
            method="POST"
            class="d-lg-flex d-md-flex d-sm-block"
          >
            <div class="left">
              <div class="text-field left">
                <input type="text" name="name" id="" required />
                <label for="name">Name</label>
              </div>
      
              <div class="text-field left">
                <input type="email" name="email" required />
                <label for="email">Email</label>
              </div>
              <div class="text-field left">
                <input type="text" name="complaint" required />
                <label for="complaint">Complaint</label>
              </div>
              <input type="submit" value="Submit" href="" class="no-display" />
            </div>
            <div class="right">
              <div class="text-field">
                <input type="tel" name="number" required />
                <label for="number">Mobile Number</label>
              </div>
              <div class="text-field">
                <textarea
                  name="tellusmore"
                  id="form-text"
                  cols="30"
                  rows="10"
                  required
                ></textarea>
                <label for="tellusmore">Tell us more</label>
              </div>
            </div>
            <input type="submit" value="Submit" href="" class="no-sm-display" />
          </form>
        </div>
      </div>
</section>

<section class="p-5 container-fluid" ng-controller="DocCtrl">
  <h3 class="mb-5 text-lg-center">Meet our most <span class="text-green">elite doctors</span></h3>
    <div class="doctor-profile">
        <div class="doctor-filter">
          <div class="bar mx-auto text-center no-display mb-5">
            <div class="items px-3">
              <button class="filter-btn" ng-click="all('rel-name')">All Doctors</button>
            </div>
            <div class="items px-3">
              <button class="filter-btn" ng-click="general('role')">General Doctors</button>
            </div>
            <div class="items px-3">
              <button class="filter-btn" ng-click="pedri('role')">Pediatricians</button>
            </div>
            <div class="items px-3">
              <button class="filter-btn" ng-click="optha('role')">Opthalmologists</button>
            </div>
            <div class="items px-3">
              <button class="filter-btn" ng-click="thera('role')">Theraphists</button>
            </div>
          </div>
          <div class="bar2 no-sm-display d-lg-none mx-auto">
            <div class="dropdown">
              <span class="mx-3" ng-click="all('rel-name')">All Doctors</span>
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Others</a>
      
              <ul class="dropdown-menu">
                <li><button class="dropdown-item" ng-click="general('role')">General Doctors</button></li>
                <li><button class="dropdown-item" ng-click="pedri('role')">Pediatricians</button></li>
                <li><button class="dropdown-item" ng-click="optha('role')">Opthalmologists</button></li>
                <li><button class="dropdown-item" ng-click="thera('role')">Theraphists</button></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="doctor-cards d-md-flex align-items-center justify-content-evenly" >
          <div class="card-container mb-5" ng-repeat="x in info | filter: filter ">
            <img src="{{x.picture}}" alt="{{x.name}}" class="rounded-circle"/>
            <h4>{{x.name}}</h4>
            <h6>email: {{x.email}}</h6>
            <p>{{x.role}}</p>
            <div class="buttons">
              <a class="btn" href="mailto:{{x.email}}">Message</a>
            </div>
          </div>
        </div>
      </div>
</section>
