<div id="main-top" class="mb-5"></div>

<!-- FIRST SCREEN -->
<section class="px-5 pt-5 pb-3 container-fluid d-md-flex align-items-center justify-content-evenly">
    <div class="home-landing-img no-sm-display">
        <img src="/static/images/index-landing.png" alt="" class="img-fluid">
    </div>
    <div class="home-landing-txt">
        <h1 class="mb-2">Lorem ipsum dolor sit <span class="text-green">amet consectetur.</span></h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        <a href="#third-screen" class="bg-green home-complaint-link text-decoration-none p-2"><span class="text-white">Make Complaint</span></a>
    </div>
    <div class=" no-display">
        <img src="/static/images/index-landing.png" alt="" class="img-fluid">
    </div>
</section>

<!-- SECOND SCREEN -->
<section class="px-5 py-3 container-fluid d-md-flex align-items-center justify-content-evenly" id="second-screen">
    <div class="index-img2">
        <img src="/static/images/index-landing02.png" alt="" class="img-fluid">
    </div>
    <div class="index-txt2">
        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        
        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>

        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
    </div>
</section>

<!-- THIRD SCREEN -->
<section id="third-screen" class="doctor-forms px-5 py-3 d-md-flex align-items-center justify-content-evenly flex-div">
    <div class="index-enquiry-txt">
        <h2 class="mb-3">Lorem ipsum <span class="text-green">dolor sit amet.</span></h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque ipsum, aut fugiat doloremque commodi vero fugit adipisci. Et, voluptatem pariatur.</p>
    </div>
    <div class="doctor-form">
      <form action="https://formspree.io/f/mzbwpgyy" method="POST" class="d-lg-flex d-md-flex d-sm-block">
        <div class="left">
          <div class="text-field left">
            <input type="text" name="name" id="" required />
            <label for="name">Name</label>
          </div>

          <div class="text-field left">
            <input type="email" name="email" required />
            <label for="email">Email</label>
          </div>
          <div class="text-field left">
            <input type="text" name="complaint" required />
            <label for="complaint">Complaint</label>
          </div>
          <input type="submit" value="Submit" href="" class="no-display"/>
        </div>
        <div class="right">
          <div class="text-field">
            <input type="tel" name="number" required />
            <label for="number">Mobile Number</label>
          </div>
          <div class="text-field">
            <textarea
              name="tellusmore"
              id="form-text"
              cols="30"
              rows="10"
              required
            ></textarea>
            <label for="tellusmore">Tell us more</label>
          </div>
        </div>
        <input type="submit" value="Submit" href="" class="no-sm-display"/>
      </form>
    </div>
</section>