<div id="main-top" class="mb-5"></div>

<!-- FIRST SCREEN -->
<section class="p-5 container-fluid d-md-flex align-items-center justify-content-evenly">
    <div class="home-landing-txt">
        <h1 class="mb-2">Lorem ipsum dolor sit <span class="text-green">amet consectetur.</span></h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        <p class="mb-4">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        <a href="#" class="bg-green home-complaint-link text-decoration-none p-2"><span class="text-white">Make Complaint</span></a>
    </div>
    <div class="home-landing-img">
        <img src="../static/images/home-landing.png" alt="" class="img-fluid">
    </div>
</section>

<!-- SECOND SCREEN -->
<section class="p-5 container-fluid d-md-flex align-items-center justify-content-evenly" id="second-screen">
    <div class="index-img2">
        <img src="/static/images/home-landing02.png" alt="" class="img-fluid">
    </div>
    <div class="index-txt2">
        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
        
        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>

        <h3 class="mb-2 text-green">Lorem Ipsumdolor</h3>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde veritatis eum alias voluptatum pariatur harum itaque molestias! Totam, animi deleniti.</p>
    </div>
</section>

<!-- THIRD SCREEN -->
<section class="p-5 container-fluid d-md-flex align-items-center justify-content-evenly" id="second-screen">
    
</section>