<div id="main-top" class="mb-5"></div>

<!-- FIRST SCREEN -->
<section class="px-5 pt-5 pb-3 container-fluid d-md-flex align-items-center justify-content-evenly">
    <div class="home-landing-img no-sm-display">
        <img src="/static/images/index-landing.png" alt="" class="img-fluid">
    </div>
    <div class="home-landing-txt">
        <h1 class="mb-2">Let Hygieia help you <span class="text-green">stay healthy.</span></h1>
        <p>Hygieia provides value based health care services with a focus on high quality clinical outcomes, and a patient-centric experience. To us, your health is gold.</p>
        <p class="mb-4">Do you notice signs and symptoms of common illnesses but can't drive to a physical hospital?<br><br> Click the button and tell us what your complaint is. <br> Experts are waiting to answer you.</p>
        <a href="#third-screen" class="bg-green home-complaint-link text-decoration-none p-2"><span class="text-white">Make Complaint</span></a>
    </div>
    <div class=" no-display">
        <img src="/static/images/index-landing.png" alt="" class="img-fluid">
    </div>
</section>

<!-- SECOND SCREEN -->
<section class="px-5 py-3 container-fluid d-md-flex align-items-center justify-content-evenly" id="second-screen">
    <div class="index-img2">
        <img src="/static/images/index-landing02.png" alt="" class="img-fluid">
    </div>
    <div class="index-txt2">
        <h3 class="mb-2 text-green">What is Hygieia?</h3>
        <p>Hygieia is a web app solution that grants users easy access to health professionals in times of crisis. You can get access to these doctors by making a complaint from the website.</p>
        
        <h3 class="mb-2 text-green">How does Hygieia work?</h3>
        <p>Hygieia operates by providing good, qualified and well trained doctors from different countries to listen to your complaint, observe you and give you prescription.</p>

        <h3 class="mb-2 text-green">What kind of illness does Hygieia deal with?</h3>
        <p>Hygieia deals with illnesses non terminal diseases or illnesses. If your health is at a terminal stage, you are advised to see a doctor physically. Our doctors are however available should you want to visit them. Hygieia also offers therapy sessions.</p>
    </div>
</section>

<!-- THIRD SCREEN -->
<section id="third-screen" class="doctor-forms px-5 py-3 d-md-flex align-items-center justify-content-evenly flex-div">
    <div class="index-enquiry-txt">
        <h2 class="mb-3">This form will help us know <span class="text-green">more</span> about your condition</h2>
        <p>You can consult our doctors and tell them how you feel right now. Make sure you explain exactly what's wrong with you. <b>Replies usually take up to 5 minutes</b></p>
    </div>
    <div class="doctor-form">
      <form action="https://formspree.io/f/mzbwpgyy" method="POST" class="d-lg-flex d-md-flex d-sm-block">
        <div class="left">
          <div class="text-field left">
            <input type="text" name="name" id="" required />
            <label for="name">Full Name</label>
          </div>

          <div class="text-field left">
            <input type="email" name="email" required />
            <label for="email">Email</label>
          </div>
          <div class="text-field left">
            <input type="text" name="complaint" required />
            <label for="complaint">Subject of complaint</label>
          </div>
          <input type="submit" value="Submit" href="" class="no-display"/>
        </div>
        <div class="right">
          <div class="text-field">
            <input type="tel" name="number" required />
            <label for="number">Mobile Number</label>
          </div>
          <div class="text-field">
            <textarea
              name="tellusmore"
              id="form-text"
              cols="30"
              rows="10"
              required
            ></textarea>
            <label for="tellusmore">Tell us exactly how you feel</label>
          </div>
        </div>
        <input type="submit" value="Submit" href="" class="no-sm-display"/>
      </form>
    </div>
</section>